:root {
  --primary-color: #34cb79;
  --title-color: #322153;
  --text-color: #6c6c80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body,
input,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}

.App {
  padding-top: 24px;
}

.made-by {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -50px;
}
.made-by h2 {
  font-size: 20px;
}
.made-by h2 a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.3s;
}
.made-by h2 a:hover {
  color: #1f7a49;
}
